@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Manrope';
}

@font-face{
    font-family: 'NeueMontreal';
    src: url('./assets/fonts/NeueMontreal-Regular.otf');

}
.special-font{
    font-family: 'Bricolage Grotesque';
}